@import '../base/variables';
@import '../base/mixin';

header {
    position: relative;
    background: url(../img/preview.png) no-repeat;
    background-position-x: center;
    background-position-y: 92%;
    background-size: cover;

    .navigation {
        padding-top: 30px;
        color: $purple-color;
        display: flex;
        justify-content: space-between;
        margin-bottom: 113px;

        @media(max-width: 1199px) {
            display: none;
        }

        &__logo-box {
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            @include flexjcc;
            gap: 17px;

            img:last-of-type {
                display: none;
            }

            &:hover {
                color: $white-color;

                img:first-of-type {
                    display: none;
                }

                img:last-of-type {
                    display: inline-block
                }
            }
        }

        &__list-box {
            @include flexjcc;
            gap: 48px;
        }

        &__list {
            @include flexjcc;
            gap: 48px;
            color: $purple-color;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 17px;

            li:hover {
                color: $white-color;
            }
        }

        &__btn {
            color: $white-color;
            background-color: $purple-color;
            padding: 11px 33px;
            border-radius: 40px;
            text-align: center;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 17px;

            &:hover {
                color: $purple-color;
                background-color: $white-color;
            }
        }
    }

    .navigation-adaptive {
        background: #27262A;
        margin-bottom: 68px;
        display: none;

        @media(max-width: 1199px) {
            display: block;
        }

        @media(max-width: 767px) {
            margin-bottom: 28px;
        }

        &__body {
            padding-top: 22px;
            @include flexsbc;

            @media(max-width: 767px) {
                padding: 31px 0px;
            }
        }

        &__logo-box {
            @include flexsbc;
            gap: 17px;
            color: $purple-color;
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            margin-bottom: 25px;

            @media(max-width: 767px) {
                margin-bottom: 0px;
            }

            img:last-of-type {
                display: none;
            }

            &:hover {
                color: $white-color;

                img:first-of-type {
                    display: none;
                }

                img:last-of-type {
                    display: inline-block
                }
            }

            @media(max-width: 767px) {
                span {
                    display: none;
                }
            }
        }

        &__burger-btn {
            position: relative;
            display: none;
            transition: transform .5s, opacity .5s;

            @media (max-width:767px) {
                display: block;
                height: 3px;
                width: 26px;
                border-radius: 5px;
                background-color: $white-color;
            }

            &::before {
                position: absolute;
                content: "";
                height: 3px;
                width: 15px;
                background-color: $white-color;
                top: -6px;
                left: 11px;
                border-radius: 5px;
                transition: transform .5s, opacity .5s;
            }

            &::after {
                position: absolute;
                content: "";
                height: 3px;
                width: 26px;
                background-color: $white-color;
                top: 6px;
                border-radius: 5px;
                transition: transform .5s, opacity .5s;
            }

            &.active {
                transform: translateY(0) rotate(45deg);

                &::before {
                    opacity: 0;
                }

                &::after {
                    transform: translateY(-6px) rotate(-90deg);
                }
            }
        }

        &__list {
            @include flexjcc;
            gap: 47px;
            color: $purple-color;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            padding-bottom: 18px;

            li:hover {
                color: $white-color;
            }

            @media(max-width: 767px) {
                display: none;
            }
        }

        &__burger-list {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 104px;
            width: 291px;
            color: $white-color;
            font-family: Montserrat;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            background-color: #333;

            li {
                position: relative;
                border-bottom: 2px solid #3B3B3B;
                padding: 30px 50px 20px 36px;

                &.focus {
                    color: $purple-color;

                    a::before {
                        position: absolute;
                        left: 3px;
                        top: 14px;
                        content: "";
                        background-color: $purple-color;
                        height: 53px;
                        width: 8px;
                    }
                }
            }

            &.active {
                display: block;
            }
        }

        &__btn {
            color: $white-color;
            background-color: $purple-color;
            padding: 11px 33px;
            border-radius: 40px;
            text-align: center;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 1;

            &:hover {
                color: $purple-color;
                background-color: $white-color;
            }

            @media(max-width: 767px) {
                padding: 11px 24px;
                font-size: 16px;
            }
        }
    }

    .discription {
        text-align: center;
        font-family: Montserrat;

        h1 {
            color: $white-color;
            font-size: 82px;
            font-weight: 700;
            line-height: 82px;

            @media(max-width: 1199px) {
                font-size: 72px;
            }

            @media(max-width: 767px) {
                font-size: 48px;
                line-height: 1;
            }
        }

        p:first-of-type {
            color: $purple-color;
            font-family: Lato;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 19px;

            @media(max-width: 1199px) {
                font-size: 24px;
            }

            @media(max-width: 767px) {
                margin: 15px auto;
                color: $purple-color;
                max-width: 290px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }
        }

        p:last-of-type {
            color: $grey-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            text-transform: uppercase;
            padding-bottom: 459px;

            @media(max-width: 1199px) {
                font-size: 14px;
            }

            @media(max-width: 767px) {
                padding-bottom: 417px;
            }
        }

        a {
            position: absolute;
            top: 774px;
            left: 50%;
            width: 392px;
            transform: translateX(-50%);
            color: $white-color;
            font-size: 21px;
            font-weight: 700;
            line-height: 22px;
            padding: 23px 61px;
            background-color: $purple-color;
            border-radius: 40px;
            border: 2px solid transparent;

            &:hover {
                color: $purple-color;
                background-color: $white-color;
                border: 2px solid $purple-color;
            }

            @media(max-width: 1199px) {
                top: 781px;
            }

            @media(max-width: 767px) {
                top: 659px;
                width: 290px;
                font-size: 18px;
                padding: 15px 29px;
            }
        }

        span {
            position: absolute;
            top: 866px;
            left: 50%;
            transform: translateX(-50%);
            color: $grey-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            width: 241px;

            @media(max-width: 1199px) {
                top: 873px;
            }

            @media(max-width: 767px) {
                top: 728px;
            }
        }
    }
}