@import '../base/variables';
@import '../base/mixin';

header {
    position: relative;
    background: url(../img/preview.png) no-repeat;
    background-position-x: center;
    background-position-y: 92%;
    background-size: cover;

    .navigation {
        padding-top: 30px;
        color: $purple-color;
        display: flex;
        justify-content: space-between;
        margin-bottom: 113px;
        @media(max-width: 1199px){
            display: none;
        }
        &__logo-box {
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            @include flexjcc;
            gap: 17px;

            img:last-of-type {
                display: none;
            }

            &:hover {
                color: $white-color;

                img:first-of-type {
                    display: none;
                }

                img:last-of-type {
                    display: inline-block
                }
            }
        }

        &__list-box {
            @include flexjcc;
            gap: 48px;
        }

        &__list {
            @include flexjcc;
            gap: 48px;
            color: $purple-color;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 17px;

            li:hover {
                color: $white-color;
            }
        }

        &__btn {
            color: $white-color;
            background-color: $purple-color;
            padding: 11px 33px;
            border-radius: 40px;
            text-align: center;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 17px;

            &:hover {
                color: $purple-color;
                background-color: $white-color;
            }
        }
    }

    .navigation-adaptive {
        background: #27262A;
        margin-bottom: 68px;
        display: none;
        @media(max-width: 1199px){
            display: block;
        }
        &__body {
            padding-top: 22px;
            @include flexsbc;
        }

        &__logo-box {
            @include flexsbc;
            gap: 17px;
            color: $purple-color;
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            margin-bottom: 25px;

            img:last-of-type {
                display: none;
            }

            &:hover {
                color: $white-color;

                img:first-of-type {
                    display: none;
                }

                img:last-of-type {
                    display: inline-block
                }
            }
        }

        &__list {
            @include flexjcc;
            gap: 47px;
            color: $purple-color;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            padding-bottom: 18px;
            li:hover {
                color: $white-color;
            }
        }

        &__btn {
            color: $white-color;
            background-color: $purple-color;
            padding: 11px 33px;
            border-radius: 40px;
            text-align: center;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 17px;

            &:hover {
                color: $purple-color;
                background-color: $white-color;
            }
        }
    }

    .discription {
        text-align: center;
        font-family: Montserrat;

        h1 {
            color: $white-color;
            font-size: 82px;
            font-weight: 700;
            line-height: 82px;
            margin-bottom: 19px;
            @media(max-width: 1199px){
                font-size: 72px;
            }
        }

        p:first-of-type {
            color: $purple-color;
            font-family: Lato;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 19px;
            @media(max-width: 1199px){
                font-size: 24px;
            }
        }

        p:last-of-type {
            color: $grey-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            text-transform: uppercase;
            padding-bottom: 459px;
            @media(max-width: 1199px){
                font-size: 14px;
            }
        }

        a {
            position: absolute;
            top: 774px;
            left: 50%;
            transform: translateX(-50%);
            color: $white-color;
            font-size: 21px;
            font-weight: 700;
            line-height: 22px;
            padding: 23px 61px;
            background-color: $purple-color;
            border-radius: 40px;
            border: 2px solid transparent;

            &:hover {
                color: $purple-color;
                background-color: $white-color;
                border: 2px solid $purple-color;
            }
        }

        span {
            position: absolute;
            top: 866px;
            left: 50%;
            transform: translateX(-50%);
            color: $grey-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
        }
    }
}