.intro {
    padding-bottom: 70px;
    .container {
        max-width: 906px;
        margin: 0 auto;
    }
    &__title {
        color: #635C73;
        text-align: center;
        font-family: Montserrat;
        font-size: 54px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__description {
        color: #323232;
        text-align: center;
        font-family: Lato;
        font-size: 21px;
        line-height: 1.52;
        margin-bottom: 28px;
    }
    &__btns {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
    &__item {
        display: flex;
        align-items: center;
        background: rgb(246, 248, 250);
        border: 1px solid rgba(31, 35, 40, 0.15);     
        font-size: 12px;
        border-radius: 5px;
        color: rgb(36, 41, 47);
        
        &:not(:first-of-type) {
            .intro__wrapper {
                padding: 3px 12px;
                border-right: 1px solid rgba(31, 35, 40, 0.15);
            }
        }
    }
    &__wrapper {
        padding: 3px 8px 3px 12px;
        display: flex;
        align-items: center;
        font-family: "Segoe UI Semibold";
        .intro__triangle {
            padding: 0 0 0 4px;
        }
    }
    &__label {
        line-height: 20px;
        display: flex;
        align-items: center;
        svg {
            margin-right: 8px;
        }
    }
    &__counter {
        padding: 0 6px;
        border-radius: 2em;
        line-height: 1.5;
        background: rgba(31, 35, 40, 0.08);
        margin-left: 5px;
    }
    &__triangle {
        padding: 3px 8px;
        display: flex;
        align-items: center;
        line-height: 1.5;
    }
}