.intro {
    padding-bottom: 70px;
    .container {
        max-width: 906px;
        margin: 0 auto;
    }
    &__title {
        color: #635C73;
        text-align: center;
        font-family: Montserrat;
        font-size: 54px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__description {
        color: #323232;
        text-align: center;
        font-family: Lato;
        font-size: 21px;
        line-height: 1.52;
        margin-bottom: 28px;
    }
    &__btns {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 3px 12px;
        font-weight: 500;
        background: rgb(246, 248, 250);
        border: 1px solid rgba(31, 35, 40, 0.15);     
        font-size: 12px;
        border-radius: 5px;
    }
    &__label {
        line-height: 20px;
        display: flex;
        align-items: center;
    }
    &__counter {
        padding: 0 6px;
        border-radius: 2em;
        background: rgba(31, 35, 40, 0.08);
        margin-left: 2px;
    }
}