.subscription {
    padding: 83px 0 97px;
    background: url('../img/bg-subscription.png') center/cover no-repeat;

    @media (max-width: 1199px) {
        padding: 79px 0 94px;
    }
    @media (max-width: 767px) {
        padding: 2px 0 12px;
    }
    .container {
        max-width: 1135px;

        @media (max-width: 1199px) {
            max-width: 601px;
        }
    }
    &__title {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.04;
        margin-bottom: 61px;

        @media (max-width: 1199px) {
            text-align: end;
            font-size: 42px;
            margin-bottom: 39px;
        }
        @media (max-width: 767px) {
            text-align: center;
            font-size: 28px;
            line-height: 1.5;
            margin-bottom: 32px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1199px) {
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 30px 25px;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 18px;
        }
    }
    &__item {
        background: rgba(255, 255, 255, 0.109);
        width: 257px;
        max-height: 457px;
    }
    &__text {
        padding: 14px 0 37px;
    }
    &__pricing {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 73px;
    }
    &__purchase {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 125px;
        text-align: center;
        position: relative;
        &::before {
            content: '';
            height: 5px;
            width: 60px;
            background: #8D81AC;
            position: absolute;
            top: -30px;
        }
    }
    &__price {
        color: #FFF;
        font-family: Montserrat;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
    }
    &__label {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        padding: 36px 0;
        background: rgba(255, 255, 255, 0.059);
    }
    &__name {
        color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 1.12;
    }
    &__btn {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 15px;
        line-height: 1;
        text-transform: uppercase;
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.15);
        padding: 15px 37px;
        display: inline-block;
    }
}

.active {
    background: rgba(70, 48, 72, 0.839);
    width: 299px;
    max-height: 560px;
    .subscription {
        &__label {
            background: rgba(0, 0, 0, 0.109);
            padding: 43px 0;
        }
        &__text {
            padding: 8px 0 47px;
        }
        &__pricing {
            margin-bottom: 91px;
        }
        &__purchase {
            min-height: 183px;
            &::before {
                top: -40px;
            }
        }
        &__btn {
            padding: 18px 48px;
            font-size: 16px;
            line-height: 1.12;
        }
    }

}