@mixin flex-jcc{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-sb-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin absolut-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin title-common {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.04;
}
@mixin text-nav {
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}