$purple-color: #8D81AC;
$grey-color: #848E97;
$text-color-light: #fff;
$text-color-dark: #323232;
$border-btn: 1px solid rgba(31, 35, 40, 0.15);
$mobile-width: 480px;
$laptop-width: 992px;
$img-center: center/cover no-repeat;