@import 'base/reset';

.container {
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}
@import 'components/header';
@import 'components/intro';
@import 'components/benefits';
@import 'components/about-fork';
@import 'components/subscription';
